<div id="<%= dom_id(message) %>">
  <% if message.user? %>
    <div class="user-message">
      <%= message.content %>
    </div>
  <% else %>
    <div class="assistant-message">
      <%= message.content %>
    </div>
  <% end %>
</div>
